[submodule "UA2F"]
	path = UA2F
	url = https://github.com/Zxilly/UA2F.git
[submodule "chinadns-ng"]
	path = chinadns-ng
	url = https://github.com/pexcn/openwrt-chinadns-ng
[submodule "dns2tcp"]
	path = dns2tcp
	url = https://github.com/pexcn/openwrt-dns2tcp
[submodule "luci-app-ua2f"]
	path = luci-app-ua2f
	url = https://github.com/lucikap/luci-app-ua2f.git
[submodule "luci-app-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
[submodule "sing-box"]
	path = sing-box
	url = https://github.com/SagerNet/sing-box.git
[submodule "rkp-ipid"]
	path = rkp-ipid
	url = https://github.com/CHN-beta/rkp-ipid.git
[submodule "luci-app-tailscale"]
	path = luci-app-tailscale
	url = https://github.com/asvow/luci-app-tailscale.git
