[submodule "UA2F"]
	path = UA2F
	url = https://github.com/Zxilly/UA2F.git
[submodule "chinadns-ng"]
	path = chinadns-ng
	url = https://github.com/pexcn/openwrt-chinadns-ng
[submodule "dns2tcp"]
	path = dns2tcp
	url = https://github.com/pexcn/openwrt-dns2tcp
[submodule "luci-app-ua2f"]
	path = luci-app-ua2f
	url = https://github.com/lucikap/luci-app-ua2f.git
[submodule "luci-app-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
[submodule "sing-box"]
	path = sing-box
	url = https://github.com/SagerNet/sing-box.git
[submodule "luci-app-autoreboot"]
	path = luci-app-autoreboot
	url = https://github.com/zxl78585/luci-app-autoreboot.git
[submodule "luci-app-poweroff"]
	path = luci-app-poweroff
	url = https://github.com/esirplayground/luci-app-poweroff.git
[submodule "luci-app-openvpn-server"]
	path = luci-app-openvpn-server
	url = https://github.com/DavBfr/luci-app-openvpn-server.git
[submodule "luci-app-eqosplus"]
	path = luci-app-eqosplus
	url = https://github.com/sirpdboy/luci-app-eqosplus.git
[submodule "luci-app-wrtbwmon"]
	path = luci-app-wrtbwmon
	url = https://github.com/brvphoenix/luci-app-wrtbwmon.git
[submodule "luci-app-wechatpush"]
	path = luci-app-wechatpush
	url = https://github.com/tty228/luci-app-wechatpush.git
